<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lookBackMinutes</key>
	<string>15</string>
	<key>regexMap</key>
	<string>{
  "【Google】": "G-([0-9]{6})",
  "【Feishu】": "Use ([0-9]{6}) as your verification code",
  "【BOSS直聘】": "([0-9]{4,})",
  "【小红书】": "([0-9]{4,})"
}</string>
</dict>
</plist>
